:root {
    --main-color: #2196F3;
    --black-color: #212121;
    --main-white: #FFFFFF;
    --text-gray: #757575;
    --background-main: #E5E5E5;
    --background-secondary: #2F303A;
}

.link.current {
    color: var(--main-color);
}

ul {
    list-style: none;
}

/* Body */

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--main-white);
    color: var(--black-color);
}

/* Посилання */

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--main-color);
}

/* Хедер */

.link-nav {
    color: var(--black-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link-contact {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--text-gray);
}


/* Logo */
.logo-color {
    color: var(--main-color);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #000000;

    text-decoration: none;
}

/* Hero */

.hero {
    background-color: var(--background-secondary);
    letter-spacing: 0.06em;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    text-transform: uppercase;

    color: var(--main-white);
}

.button-service {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: var(--main-white);
    background-color: var(--main-color);
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 32px;

    cursor: pointer;
}

/* Переваги */

.advantage {
    background-color: var(--background-main);
}

.advantage-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantage-text {
    font-size: 14px;
    line-height: 1.71;
    
    color: var(--text-gray);
}

/* Чим займаємось */

.examples {
    background-color: var(--background-main);
}

.examples-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;

    text-align: center;
}

/* Команда */

.team {
    background-color: #F5F4FA;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team-list {
    background: var(--main-white);
}

.worker-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    
    color: var(--text-gray);
}

/* Футер */

footer {
    background-color: var(--background-secondary);
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    color: var(--main-white);

    text-decoration: none;
}

.address-map {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
        
    color: var(--main-white);
}

.address-contact {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
        
    color:rgba(255, 255, 255, 0.6);
}

/* Кнопки фільтрації */

.section-portfolio {
    background-color: var(--background-main);
}

.portfolio-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    
    color: var(--black-color);
    background-color: #F5F4FA;

    border-radius: 4px;
    border: none;
    padding: 6px 22px;

    cursor: pointer;
}

.portfolio-button.active {
    color: var(--main-white);
    background-color: var(--main-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--main-white);
    background-color: var(--main-color);
}

/* Приклади */

.example-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.example-text {
    font-size: 16px;
    line-height: 1.88;

    color: var(--text-gray);
}